body {
    background-color: #eee;
}
.clickable {
    cursor:pointer;
    color:#234da7;
}
input[type=text] {
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ddd;
    outline: 0;
    -webkit-appearance: textfield;
}

.cssCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cssCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.cssCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#contentAreaDiv{
    padding-left: 24px ! important;
    padding-bottom: 24px ! important;
}
#contentAreaDiv > div{
    width: 48%;
    background-color: #fff;
    margin: 24px 24px 0 0 ! important;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contentAreaDiv > img{
    z-index: 1;
}
#contentAreaDiv > div:last-child, #updateAvailableMsgDiv{
    display: none ! important;
        
}
#contentAreaDiv > div:first-child{
    margin-bottom: 40px ! important;
}
#settingsDiv{
    margin: 16px 27px 0 0 ! important;
    z-index: 1;
    position: fixed ! important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
* {
    -webkit-box-sizing: initial;
    -moz-box-sizing: border-box;
    box-sizing: initial;
}